@charset "UTF-8";
body{
    margin: 0;
}
.mapa {
    margin-top: 50px;
    margin-left: 25px;
    box-shadow: 500px 500px 500px #888;


}
.ti{
    text-align: center;
    color: rgb(66, 40, 182);
    font: oblique bold 120% cursive;
    font-size: 200%;
}
.tim{
    text-align: center;
    color: rgb(40, 85, 168);
    font: oblique bold 120% cursive;
    font-size: 200%;
}
